.clr
.footer-info-strip
	.footer-info-wrapper(ng-controller='footerCtrl')
		.footer-info-article
			h3.info-header You have? Change!
			p.info-article
				Hosts salon shop to exchange things "Vse na Vse" created quite an impressive database of those things that are without the need for the people and that they would like to exchange for more than they need things.
					Everyone knows that the sale of unnecessary things, and then the money for the purchase of new and necessary thing - this is a very troublesome process, which resulted in lost cash.
			p.info-article 	
				But if you simply change your unwanted item to the one that you really need?
			p.info-article 
				This thought and was the basis for a new and successful business project, based on an exchange, the two entrepreneurs.
			p.info-article
				When you turn things in the money, then the money into new things, lose large sums. Indeed, during the transmission, even completely new things from the seller to the buyer of its amount is reduced by 25% from the initial price. To understand this, imagine that you have just purchased a LCD plasma TV for a hefty price. But in that moment, when you are at the box office punch a check, the cost of this TV has become a quarter less. And you have not even his home and is not able to take!
		.footer-news
			h3.info-header news
			.news-wrapper(ng-repeat='article in news', ng-class='{first: $first }')
				p.news-date {{ article.date }}
				h5.news-title 
					a.news-title-link(href='javascript:;') {{ article.title }}
				p.news-text {{ article.text }}
		.clr
.footer-copy-strip
	.footer-copy-wrapper
		.copy
			p.copyright © Vse na Vse, 2013. All rights reserved
			a.email(href='mailto:pjones@calmapit.com') pjones@calmapit.com
		.footer-categories
			ul.cats
				li.cat
					a.fcat(href='javascript:;') Book
				li.cat
					a.fcat(href='javascript:;') Computers
				li.cat
					a.fcat(href='javascript:;') Phones, smartphones
				li.cat
					a.fcat(href='javascript:;') Technology, Electronics
			ul.cats
				li.cat
					a.fcat(href='javascript:;') Fashion & Beauty
				li.cat
					a.fcat(href='javascript:;') Disks
				li.cat
					a.fcat(href='javascript:;') Everything for the home
				li.cat
					a.fcat(href='javascript:;') For children
			ul.cats
				li.cat
					a.fcat(href='javascript:;') Leisure, recreation
				li.cat
					a.fcat(href='javascript:;') Collecting
				li.cat
					a.fcat(href='javascript:;') Auto, motorcycle
				li.cat
					a.fcat(href='javascript:;') Other
		.vgolos
			h5.studio-header site development
			a.studio-link(href='http://shmik.com') aloud
