extends layout

block content
	script#lot-item(type = "text/template")
			<section class="lot-admin">
			<img class="lot-image" src="/i/lots/<%= lot.picture %>" alt="lot image">
			<a href="/items/<%= lot._id %>">
			<h3 class="lot-title">
			<%= lot.name %>
			</h3>
			</a>
			</section>
	#search-page.container
		.row
			.span12
				form#search-main(method='get', action='/items')
					fieldset
						legend Advanced Search
						label
							strong
								Text to search
						input(type='text', name='text', placeholder='Text Search')
						label
							strong
								Search the wishes of
						input(type='text', name='wish', placeholder='Search the wishes of')
						label
							strong
								cash equivalent
						label від
						input(type='text', name='valueGte', placeholder='0.00')
						label до
						input(type='text', name='valueLte', placeholder='0.00')
						label
							strong
								End date of the auction
						label From
						input(type='text', name='startDate', placeholder='хх-хх-хххх')
						label To
						input(type='text', name='startDate', placeholder='хх-хх-хххх')
						button.search-button-main.btn.btn-large.btn-block.btn-primary(type='submit') Search
		.row
			.span12
				.search-results